  body {
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            background-color: #f4f4f9;
            color: #333;
            margin: 0;
            padding: 20px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            min-height: 100vh;
        }
        .container {
            max-width: 1100px;
            width: 100%;
            background: #ffffff;
            box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
            border-radius: 8px;
            overflow: hidden;
            padding: 20px;
        }
        h1 {
            font-size: 24px;
            text-align: center;
            color: #0056b3;
            margin-bottom: 20px;
        }
        textarea {
            width: -webkit-fill-available ;
            height: 450px;
            border: 1px solid #ddd;
            padding: 15px;
            border-radius: 4px;
            font-size: 16px;
            font-family: 'Courier New', Courier, monospace;
            resize: vertical;
            margin-bottom: 20px;
        }
        .buttons {
            display: flex;
            justify-content: space-between;
            margin-bottom: 20px;
        }
        button {
            flex: 1;
            margin: 0 5px;
            padding: 10px;
            font-size: 16px;
            color: white;
            background-color: #0056b3;
            border: none;
            border-radius: 4px;
            cursor: pointer;
            transition: background-color 0.3s ease;
        }
        button:hover {
            background-color: #004494;
        }
        #finally {
            border: 1px solid #ddd;
            width: 100%;
            height: 600px;
            border-radius: 4px;
        }
        footer {
            text-align: center;
            color: black;
            margin-top: 20px;
        }
        footer #creater {
            margin-top: -15px;
        }
        footer #creater a{
            color: blue;
            text-decoration: none;
        }
    
